.loading {
  text-align: center;
}

h1 {
  font-family: 'Caveat', sans-serif;
  text-align: center;
}

form {
  margin-top: 10%;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.form-bttns {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 35%
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
img {
  width: 50%;
}
