.loading {
  text-align: center;
}

h1 {
  font-family: 'Caveat', sans-serif;
  text-align: center;
  font-size: 4em;
}

form {
  margin-top: 5%;
  border: 1px solid grey;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.form-bttns {
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.bttn-simple.bttn-default {
  background: white;
  color: #ff5964;
  outline: auto;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
img {
  width: 50%;
}
