<div class="row" style='margin-top: 5vh;'>
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <h1>My Shopping List</h1>
    <hr>
    <ul class="list-group">
      <!-- Use async pipe on ingredients to subscribe to ingredients and resolve an array -->
      <a
        class='list-group-item'
        *ngFor='let ingredient of (ingredients | async).ingredients; let i = index'
        (click)='onEditItem(i)'
        style="cursor: pointer"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
