.recipe-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 0;
  max-height: 200px;
  min-height: 150px;
}

.pull-left  {
  padding: 15px;
  width: 75%;
}
.pull-right {
  width: 25%;
}

h3 {
  font-family: 'Caveat', cursive;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: lightpink;
  border-color: lightpink;
}

list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
  color: black;
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading>.small, .list-group-item.active .list-group-item-heading>small, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading>.small, .list-group-item.active:focus .list-group-item-heading>small, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading>.small, .list-group-item.active:hover .list-group-item-heading>small {
  color: black;
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
  color: black;
}
