<div class="row edit-body">
  <div class="col-xs-12">
    <form (ngSubmit)='onAddItem(form)' #form='ngForm'>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Item</label>
          <input
            type="text"
            id='name'
            class='form-control'
            name='name'
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Quantity</label>
          <input
            type="number"
            id='amount'
            class='form-control'
            name='amount'
            ngModel
            required
            pattern='^[1-9]+[0-9]*$'
          >
           <!-- Pattern is a regular expression validating that the input is a number greater than 0  -->
        </div>
        <div class="row">
          <div class="col-xs-12 btn-container">
            <button class="bttn-simple bttn-md bttn-primary" type='submit' [disabled]='!form.valid'>{{ editMode ? 'Update' : 'Add' }}</button>
            <button class="bttn-simple bttn-md bttn-default" type='button' (click)='onClear()'>Clear</button>
            <button class="bttn-simple bttn-md bttn-danger" type='button' *ngIf='editMode' (click)='onDelete()'>Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
