.edit-body {
  margin-bottom: 5vh;
}

.bttn-simple {
  margin-left: 15px;
  /* width: 75px; */
}

.bttn-default {
  background-color: lightpink;
  color: rgb(29, 13, 13);
}

.bttn-warning {
  background-color: rgb(196, 3, 32);
}

@media only screen and (max-width: 500px) {
  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }
  .btn {
    width: 75px;
    margin-left: 0;
  }
}
