.edit-body {
  margin-bottom: 5vh;
}

.btn {
  margin-left: 15px;
  width: 75px;
}

@media only screen and (max-width: 500px) {
  .btn-container {
    display: flex;
    justify-content: space-evenly;
  }
  .btn {
    width: 75px;
    margin-left: 0;
  }
}
